@use "../" as *;

.content {
  flex-grow: 1;
  padding: 2em 1em;
  @include flex-container($align:stretch);
  display: flex;
  gap: 2em;
  aside {
    @include flex-container($direction:column, $align:stretch);
    width: 27%;
    background-color: $white;
    border-radius: $radius-large;
    nav {
      flex-grow: 1;
      width: 100%;
      @include flex-container($align:stretch);
      ul {
        width: 100%;
        padding-top: 2em;
        padding-bottom: 2em;
        list-style-type: none;
        @include flex-container($direction:column);
        li {
          margin: 0 1.25em;
          padding: 1em;
          a {
            font-size: 0.875em;
            text-decoration: none;
            color: $black;
            i {
              color: $default-red;
              margin-right: 1.25em;
            }
          }
        }
        #logout {
          margin-top: auto;
        }

        li:hover {
          background-color: $default-red;
          border-radius: $radius-medium;
          box-shadow: $shadow-navigation;
          a {
            color: $white;
          }
          i {
            color: $white;
          }
        }
      }
    }
  }
}
