@use "../" as *;

.mainCommonPrimary {
  flex-grow: 1;
  background-color: $white;
  border-radius: $radius-large;
}
.mainCommon {
  @extend .mainCommonPrimary;
  padding: 2em 1.25em;
  @include flex-container($direction:column, $align:flex-end);
}
