@use "variables" as *;

@mixin main-common-primary {
  flex-grow: 1;
  background-color: $white;
  border-radius: $radius-large;
}

@mixin main-common {
  @include main-common-primary;
  padding: 2em 1.25em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
