@use "../" as *;
.main-content-inventory {
  @include main-common;
  overflow-x: auto;
}
.add-new {
  @include flex-container($justify: flex-end, $align: flex-end);
  &-input {
    @include flex-container();
    flex-grow: 1;
    input {
      margin-left: 0.625em;
      display: inline;
      width: 87%;
      font-size: $font-default;
      border: none;
    }
    border-bottom: $border-black;
  }

  &-button {
    margin-left: 1.25em;
    @include flex-container($justify: center, $align: center);
    padding: $small + $tiny $medium + $xs;
    border-radius: $radius-small;
    background-color: $button-success;
    color: $white;
    gap: $medium;

    &-text {
      white-space: nowrap;
      flex-grow: 1;
      font-size: $medium;
      height: auto;
      margin: auto;
    }
    span {
      padding: $small;
      display: inline-block;
      content: "";
      width: $medium;
      height: $medium;
      background-color: $white;
      clip-path: polygon(
        0 45%,
        45% 45%,
        45% 0,
        55% 0,
        55% 45%,
        100% 45%,
        100% 55%,
        55% 55%,
        55% 100%,
        45% 100%,
        45% 55%,
        0 55%
      );
    }
  }
}
.table {
  @include flex-container($direction: column);
  flex-grow: 1;
  width: 100%;
  margin-top: $large;
  border: $border-gray-pending;
  border-radius: $radius-small;
}
.inventory-content {
  min-width: 900px;
  border-spacing: 0;
  border-radius: $radius-small;
  th {
    max-height: $xl;
    text-align: left;
    padding: $medium $small;
  }

  td {
    border-top: $border-gray-pending;
    border-bottom: $border-gray-pending;
    padding: $medium $small;
  }
}

.actions {
  position: relative;
  button {
    margin-right: $medium;
    background: none;
  }
}
.confirmation-popup {
  @include popup-common;
  width: 250px;
  padding: $medium;
  left: -140%;
  bottom: -200%;
  div {
    @include popup-div;
    margin-top: $small;
  }
  button {
    @include popup-button;
  }
  button:hover {
    @include popup-button-hover;
  }
}
.confirmation-popup::before {
  @include popup-div-before;
  top: -10px;
  left: 66%;
}
.pagination-container {
  margin-top: auto;
  height: $xl;
  border-top: $border-gray-pending;
}
